<a href="https://colab.research.google.com/github/polakrit-pipi/wine-quality-polar-curve/blob/main/wine_quality_polar_curve.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Set up and Download Data**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
import plotly.graph_objects as go
import numpy as np

In [ ]:
df_wine_fully=pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vTJepe4dn5w2dTsfexdOiGG7pm3kqGC_yLn4Iy4E0E9q6DjnLAHaT7hHyH_9YwgbWvlIltvEgd8MNHH/pub?gid=367699842&single=true&output=csv")

# **Data Prepraration**

In [ ]:
df_wine_fully

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,bad
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,bad
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,bad
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,good
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,bad
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,bad
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,good
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,good
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,bad
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,good

### **drop quality column**

In [ ]:
df_wine_drop_ph = df_wine_fully.drop(['quality','pH','density'], axis=1)
df_wine_drop_ph

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.56,9.4
...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.66,11.0

In [ ]:
df_wine = df_wine_fully.drop(['quality'],axis=1)
df_wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

In [ ]:
quality = df_wine_fully[["quality"]]
quality

     quality
0        bad
1        bad
2        bad
3       good
4        bad
...      ...
1594     bad
1595    good
1596    good
1597     bad
1598    good

[1599 rows x 1 columns]

In [ ]:
df_wine.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
dtype: int64

In [ ]:
scaler = MinMaxScaler()
scaler.fit(df_wine_drop_ph)
data_scale = pd.DataFrame(scaler.transform(df_wine_drop_ph), columns=df_wine_drop_ph.columns)
data_scale

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,sulphates,alcohol
0,0.247788,0.397260,0.00,0.068493,0.106845,0.140845,0.098940,0.137725,0.153846
1,0.283186,0.520548,0.00,0.116438,0.143573,0.338028,0.215548,0.209581,0.215385
2,0.283186,0.438356,0.04,0.095890,0.133556,0.197183,0.169611,0.191617,0.215385
3,0.584071,0.109589,0.56,0.068493,0.105175,0.225352,0.190813,0.149701,0.215385
4,0.247788,0.397260,0.00,0.068493,0.106845,0.140845,0.098940,0.137725,0.153846
...,...,...,...,...,...,...,...,...,...
1594,0.141593,0.328767,0.08,0.075342,0.130217,0.436620,0.134276,0.149701,0.323077
1595,0.115044,0.294521,0.10,0.089041,0.083472,0.535211,0.159011,0.257485,0.430769
1596,0.150442,0.267123,0.13,0.095890,0.106845,0.394366,0.120141,0.251497,0.400000
1597,0.115044,0.359589,0.12,0.075342,0.105175,0.436620,0.134276,0.227545,0.276923
1598,0.123894,0.130137,0.47,0.184932,0.091820,0.239437,0.127208,0.197605,0.400000

In [ ]:
inertia = []
for i in range(1,16):
    kmeans = KMeans(
        n_clusters=i, init="k-means++"
    )
    kmeans.fit(data_scale)
    inertia.append(kmeans.inertia_)
plt.plot(range(1, 16), inertia, color='red', marker='x')

NameError: ignored

In [ ]:
kmeans4 = KMeans(
        n_clusters=4, init="k-means++"
    )

In [ ]:
kmeans4.fit(data_scale)

KMeans(n_clusters=4)

In [ ]:
kmeans4.n_features_in_

9

In [ ]:
kmeans4.feature_names_in_

array(['fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'sulphates', 'alcohol'], dtype=object)

In [ ]:
kmeans4.inertia_

149.37322148869077

In [ ]:
kmeans4.labels_

array([2, 2, 2, ..., 0, 0, 3], dtype=int32)

In [ ]:
kmeans4.cluster_centers_

array([[0.18706981, 0.30539248, 0.12821429, 0.09893455, 0.09682142,
        0.23971607, 0.12005721, 0.19213953, 0.50838421],
       [0.48947928, 0.18678347, 0.4888412 , 0.11840055, 0.14159508,
        0.13416551, 0.0817953 , 0.23868572, 0.37166282],
       [0.2660924 , 0.35752513, 0.11927757, 0.08907365, 0.12593232,
        0.14535693, 0.10734391, 0.16226862, 0.21653505],
       [0.31307491, 0.266448  , 0.31109859, 0.14795485, 0.12628559,
        0.38200754, 0.29244015, 0.19492283, 0.23224991]])

In [ ]:
kmeans4.predict(data_scale) #START DEPLOYMENT

array([2, 2, 2, ..., 0, 0, 3], dtype=int32)

In [ ]:
data_scale['group'] = kmeans4.predict(data_scale)
data_scale

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,sulphates,alcohol,group
0,0.247788,0.397260,0.00,0.068493,0.106845,0.140845,0.098940,0.137725,0.153846,2
1,0.283186,0.520548,0.00,0.116438,0.143573,0.338028,0.215548,0.209581,0.215385,2
2,0.283186,0.438356,0.04,0.095890,0.133556,0.197183,0.169611,0.191617,0.215385,2
3,0.584071,0.109589,0.56,0.068493,0.105175,0.225352,0.190813,0.149701,0.215385,1
4,0.247788,0.397260,0.00,0.068493,0.106845,0.140845,0.098940,0.137725,0.153846,2
...,...,...,...,...,...,...,...,...,...,...
1594,0.141593,0.328767,0.08,0.075342,0.130217,0.436620,0.134276,0.149701,0.323077,0
1595,0.115044,0.294521,0.10,0.089041,0.083472,0.535211,0.159011,0.257485,0.430769,0
1596,0.150442,0.267123,0.13,0.095890,0.106845,0.394366,0.120141,0.251497,0.400000,0
1597,0.115044,0.359589,0.12,0.075342,0.105175,0.436620,0.134276,0.227545,0.276923,0
1598,0.123894,0.130137,0.47,0.184932,0.091820,0.239437,0.127208,0.197605,0.400000,3

In [ ]:
data_scale['group'].value_counts()

2    526
1    466
3    355
0    252
Name: group, dtype: int64

In [ ]:
scale_group = data_scale.groupby("group").mean().reset_index()
scale_group

,group,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,sulphates,alcohol
0,0,0.187070,0.305392,0.128214,0.098935,0.096821,0.239716,0.120057,0.192140,0.508384
1,1,0.489479,0.186783,0.488841,0.118401,0.141595,0.134166,0.081795,0.238686,0.371663
2,2,0.266092,0.357525,0.119278,0.089074,0.125932,0.145357,0.107344,0.162269,0.216535
3,3,0.313075,0.266448,0.311099,0.147955,0.126286,0.382008,0.292440,0.194923,0.232250

In [ ]:
polar = data_scale.groupby("group").mean().reset_index()
polar = pd.melt(polar,id_vars=["group"])
polar

    group              variable     value
0       0         fixed acidity  0.187070
1       1         fixed acidity  0.489479
2       2         fixed acidity  0.266092
3       3         fixed acidity  0.313075
4       0      volatile acidity  0.305392
5       1      volatile acidity  0.186783
6       2      volatile acidity  0.357525
7       3      volatile acidity  0.266448
8       0           citric acid  0.128214
9       1           citric acid  0.488841
10      2           citric acid  0.119278
11      3           citric acid  0.311099
12      0        residual sugar  0.098935
13      1        residual sugar  0.118401
14      2        residual sugar  0.089074
15      3        residual sugar  0.147955
16      0             chlorides  0.096821
17      1             chlorides  0.141595
18      2             chlorides  0.125932
19      3             chlorides  0.126286
20      0   free sulfur dioxide  0.239716
21      1   free sulfur dioxide  0.134166
22      2   free sulfur dioxide  0.145357
23      3   free sulfur dioxide  0.382008
24      0  total sulfur dioxide  0.120057
25      1  total sulfur dioxide  0.081795
26      2  total sulfur dioxide  0.107344
27      3  total sulfur dioxide  0.292440
28      0             sulphates  0.192140
29      1             sulphates  0.238686
30      2             sulphates  0.162269
31      3             sulphates  0.194923
32      0               alcohol  0.508384
33      1               alcohol  0.371663
34      2               alcohol  0.216535
35      3               alcohol  0.232250

In [ ]:
fig_all = px.line_polar(polar, r="value", theta="variable", color="group", line_close=True, height=600, width=600)
fig_all.show()

In [ ]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots

fig = make_subplots(rows=2, cols=2, 
              specs=[[{'type': 'polar'}]*2]*2)
lab = 0
for i in range(1,3):
    for j in range(1,3):
        fig.add_trace(go.Scatterpolar(
        name = f"Cluster Group {lab}",
        r = polar[polar.group == lab]['value'], 
        theta =polar[polar.group == lab]["variable"],
        # mode = 'lines'
        ), i, j)
        lab += 1
fig.update_layout(height=900, width=1200, title_text="Cluster Polar Plot",showlegend=True)
fig.update_traces(fill='toself')
fig.show()

# **Data preparation_New**

In [ ]:
df_wine_drop_ph["group"] = kmeans4.labels_
df_wine_drop_ph

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,sulphates,alcohol,group
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.56,9.4,2
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.68,9.8,2
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.65,9.8,2
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.58,9.8,1
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.56,9.4,2
...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.58,10.5,0
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.76,11.2,0
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.75,11.0,0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.71,10.2,0
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.66,11.0,3

In [ ]:
df_wine_drop_ph["quality"] = quality
df_wine_drop_ph

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,sulphates,alcohol,group,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.56,9.4,2,bad
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.68,9.8,2,bad
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.65,9.8,2,bad
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.58,9.8,1,good
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.56,9.4,2,bad
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.58,10.5,0,bad
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.76,11.2,0,good
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.75,11.0,0,good
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.71,10.2,0,bad
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.66,11.0,3,good

In [ ]:
df_wine_drop_ph[df_wine_drop_ph["quality"]=="good"].group.value_counts()

1    342
0    197
2    188
3    128
Name: group, dtype: int64

In [ ]:
df_wine_drop_ph[df_wine_drop_ph["quality"]=="bad"].group.value_counts()

2    338
3    227
1    124
0     55
Name: group, dtype: int64

In [ ]:
pd.DataFrame(df_wine_drop_ph[df_wine_drop_ph["quality"]=="bad"].group.value_counts().to_list(), columns=["Bad"])

   Bad
0  338
1  227
2  124
3   55

In [ ]:
pd.DataFrame(df_wine_drop_ph[df_wine_drop_ph["quality"]=="good"].group.value_counts().to_list(), columns=["Good"]) #Return a list of the values.

   Good
0   342
1   197
2   188
3   128

In [ ]:
# datagroup_0 = df_wine_drop_ph[df_wine_drop_ph["group"]==0]
# datagroup_1 = df_wine_drop_ph[df_wine_drop_ph["group"]==1]
# datagroup_2 = df_wine_drop_ph[df_wine_drop_ph["group"]==2]
# datagroup_3 = df_wine_drop_ph[df_wine_drop_ph["group"]==3]

In [ ]:
 df_wine_drop_ph.groupby("group").mean().reset_index()

,group,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,sulphates,alcohol
0,0,6.713889,0.565873,0.128214,2.344444,0.069996,18.019841,39.976190,0.650873,11.704497
1,1,10.131116,0.392704,0.488841,2.628648,0.096815,10.525751,29.148069,0.728605,10.815808
2,2,7.606844,0.641987,0.119278,2.200475,0.087433,11.320342,36.378327,0.600989,9.807478
3,3,8.137746,0.509014,0.311099,3.060141,0.087645,28.122535,88.760563,0.655521,9.909624